<html>
    <head>
        <title>Marmar's blog</title>
    </head>
    <body>
        <div>
            <h1>Why Real Madrid will be UCL champions this season</h1>
                <p>First of all:
                    <a href = "https://www.youtube.com/watch?v=SWJcenj6lsQ"> Hala Madrid!</a>
                </p>
        </div>

        <div>
            <h2>Zidane's tactics</h2>
            <p>My guy Zizou had some mad coaching talents</p>
        </div>

        <div>
            <h2>Ultimate leadership</h2>
            <p>Ramos and Benzema can lead this team to victory</p>
        </div>

    </body>
</html>