<html>
    <head>
        <title>Marmar's blog</title>
    </head>
    <body>
        <div>
            <h1>Why Real Madrid will be UCL champions this season</h1>
                <p>First of all:
                    <a href = "https://www.youtube.com/watch?v=SWJcenj6lsQ"> Hala Madrid!</a>
                </p>
        </div>
        {% for post in posts %}
            <div>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
                <p>published: {{ post.published_date }}</p>
            </div>
        {% endfor %}
    </body>
</html>